.pd-c-button {
  background: var(--pd-color-white);
  border: var(--pd-border-width) solid var(--pd-color-black);
  border-radius: var(--pd-u-border-radius);
  padding: 16px 24px;
  margin: 16px 0;
  cursor: pointer;
}
