.App {
  text-align: center;
  padding: 0 20px;
}

.pd-l--three-column {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 1em;
  column-gap: 1em;
}

:root {
  --pd-border-width: 2px;
  --pd-u-border-radius: 8px;
  --pd-color-black: #000;
  --pd-color-white: #fff;
}
